$primary-color: #24252e;
$secondary-color: #784a48;

$primary-text-color: #91a3ae;
$secondary-text-color: #eee1bc;

$primary-border-radius: 12px;
$secondary-border-radius: 8px;

$cl1: red;
$cl2: orangered;
$cl3: orange;
$cl4: yellow;
$cl5: yellowgreen;
$cl6: green;
