@use 'sass:color'; // @for $i from 1 to 20 {
//   @debug $i;
// }
// @for $i from 1 through 20 {
//   @debug $i;
// }
@for $i from 1 through 60 {
  .h-#{$i*5} {
    height: $i * 5px;
  }
}
@for $i from 1 through 20 {
  .hp-#{$i*5} {
    height: $i * 5%;
  }
}
@for $i from 1 through 60 {
  .w-#{$i*5} {
    width: $i * 5px;
  }
}
@for $i from 1 through 20 {
  .wp-#{$i*5} {
    width: $i * 5%;
  }
}

$colors: (red, black, blue, green, yellow, purple, orange, brown);

// @each $color in $colors {
//   @debug $color;
// }

@each $color in $colors {
  .bg-#{$color}-50 {
    background-color: color.change($color, $whiteness: 95%);
  }
  @for $i from 1 to 10 {
    .bg-#{$color}-#{$i*100} {
      background-color: color.change($color, $whiteness: 100% - $i * 10%);
    }
  }
}

@each $color in $colors {
  .text-#{$color}-50 {
    color: color.change($color, $whiteness: 95%);
  }
  @for $i from 1 to 10 {
    .text-#{$color}-#{$i*100} {
      color: color.change($color, $whiteness: 100% - $i * 10%);
    }
  }
}
