.h-5 {
  height: 5px;
}

.h-10 {
  height: 10px;
}

.h-15 {
  height: 15px;
}

.h-20 {
  height: 20px;
}

.h-25 {
  height: 25px;
}

.h-30 {
  height: 30px;
}

.h-35 {
  height: 35px;
}

.h-40 {
  height: 40px;
}

.h-45 {
  height: 45px;
}

.h-50 {
  height: 50px;
}

.h-55 {
  height: 55px;
}

.h-60 {
  height: 60px;
}

.h-65 {
  height: 65px;
}

.h-70 {
  height: 70px;
}

.h-75 {
  height: 75px;
}

.h-80 {
  height: 80px;
}

.h-85 {
  height: 85px;
}

.h-90 {
  height: 90px;
}

.h-95 {
  height: 95px;
}

.h-100 {
  height: 100px;
}

.h-105 {
  height: 105px;
}

.h-110 {
  height: 110px;
}

.h-115 {
  height: 115px;
}

.h-120 {
  height: 120px;
}

.h-125 {
  height: 125px;
}

.h-130 {
  height: 130px;
}

.h-135 {
  height: 135px;
}

.h-140 {
  height: 140px;
}

.h-145 {
  height: 145px;
}

.h-150 {
  height: 150px;
}

.h-155 {
  height: 155px;
}

.h-160 {
  height: 160px;
}

.h-165 {
  height: 165px;
}

.h-170 {
  height: 170px;
}

.h-175 {
  height: 175px;
}

.h-180 {
  height: 180px;
}

.h-185 {
  height: 185px;
}

.h-190 {
  height: 190px;
}

.h-195 {
  height: 195px;
}

.h-200 {
  height: 200px;
}

.h-205 {
  height: 205px;
}

.h-210 {
  height: 210px;
}

.h-215 {
  height: 215px;
}

.h-220 {
  height: 220px;
}

.h-225 {
  height: 225px;
}

.h-230 {
  height: 230px;
}

.h-235 {
  height: 235px;
}

.h-240 {
  height: 240px;
}

.h-245 {
  height: 245px;
}

.h-250 {
  height: 250px;
}

.h-255 {
  height: 255px;
}

.h-260 {
  height: 260px;
}

.h-265 {
  height: 265px;
}

.h-270 {
  height: 270px;
}

.h-275 {
  height: 275px;
}

.h-280 {
  height: 280px;
}

.h-285 {
  height: 285px;
}

.h-290 {
  height: 290px;
}

.h-295 {
  height: 295px;
}

.h-300 {
  height: 300px;
}

.hp-5 {
  height: 5%;
}

.hp-10 {
  height: 10%;
}

.hp-15 {
  height: 15%;
}

.hp-20 {
  height: 20%;
}

.hp-25 {
  height: 25%;
}

.hp-30 {
  height: 30%;
}

.hp-35 {
  height: 35%;
}

.hp-40 {
  height: 40%;
}

.hp-45 {
  height: 45%;
}

.hp-50 {
  height: 50%;
}

.hp-55 {
  height: 55%;
}

.hp-60 {
  height: 60%;
}

.hp-65 {
  height: 65%;
}

.hp-70 {
  height: 70%;
}

.hp-75 {
  height: 75%;
}

.hp-80 {
  height: 80%;
}

.hp-85 {
  height: 85%;
}

.hp-90 {
  height: 90%;
}

.hp-95 {
  height: 95%;
}

.hp-100 {
  height: 100%;
}

.w-5 {
  width: 5px;
}

.w-10 {
  width: 10px;
}

.w-15 {
  width: 15px;
}

.w-20 {
  width: 20px;
}

.w-25 {
  width: 25px;
}

.w-30 {
  width: 30px;
}

.w-35 {
  width: 35px;
}

.w-40 {
  width: 40px;
}

.w-45 {
  width: 45px;
}

.w-50 {
  width: 50px;
}

.w-55 {
  width: 55px;
}

.w-60 {
  width: 60px;
}

.w-65 {
  width: 65px;
}

.w-70 {
  width: 70px;
}

.w-75 {
  width: 75px;
}

.w-80 {
  width: 80px;
}

.w-85 {
  width: 85px;
}

.w-90 {
  width: 90px;
}

.w-95 {
  width: 95px;
}

.w-100 {
  width: 100px;
}

.w-105 {
  width: 105px;
}

.w-110 {
  width: 110px;
}

.w-115 {
  width: 115px;
}

.w-120 {
  width: 120px;
}

.w-125 {
  width: 125px;
}

.w-130 {
  width: 130px;
}

.w-135 {
  width: 135px;
}

.w-140 {
  width: 140px;
}

.w-145 {
  width: 145px;
}

.w-150 {
  width: 150px;
}

.w-155 {
  width: 155px;
}

.w-160 {
  width: 160px;
}

.w-165 {
  width: 165px;
}

.w-170 {
  width: 170px;
}

.w-175 {
  width: 175px;
}

.w-180 {
  width: 180px;
}

.w-185 {
  width: 185px;
}

.w-190 {
  width: 190px;
}

.w-195 {
  width: 195px;
}

.w-200 {
  width: 200px;
}

.w-205 {
  width: 205px;
}

.w-210 {
  width: 210px;
}

.w-215 {
  width: 215px;
}

.w-220 {
  width: 220px;
}

.w-225 {
  width: 225px;
}

.w-230 {
  width: 230px;
}

.w-235 {
  width: 235px;
}

.w-240 {
  width: 240px;
}

.w-245 {
  width: 245px;
}

.w-250 {
  width: 250px;
}

.w-255 {
  width: 255px;
}

.w-260 {
  width: 260px;
}

.w-265 {
  width: 265px;
}

.w-270 {
  width: 270px;
}

.w-275 {
  width: 275px;
}

.w-280 {
  width: 280px;
}

.w-285 {
  width: 285px;
}

.w-290 {
  width: 290px;
}

.w-295 {
  width: 295px;
}

.w-300 {
  width: 300px;
}

.wp-5 {
  width: 5%;
}

.wp-10 {
  width: 10%;
}

.wp-15 {
  width: 15%;
}

.wp-20 {
  width: 20%;
}

.wp-25 {
  width: 25%;
}

.wp-30 {
  width: 30%;
}

.wp-35 {
  width: 35%;
}

.wp-40 {
  width: 40%;
}

.wp-45 {
  width: 45%;
}

.wp-50 {
  width: 50%;
}

.wp-55 {
  width: 55%;
}

.wp-60 {
  width: 60%;
}

.wp-65 {
  width: 65%;
}

.wp-70 {
  width: 70%;
}

.wp-75 {
  width: 75%;
}

.wp-80 {
  width: 80%;
}

.wp-85 {
  width: 85%;
}

.wp-90 {
  width: 90%;
}

.wp-95 {
  width: 95%;
}

.wp-100 {
  width: 100%;
}

.bg-red-50 {
  background-color: #fff2f2;
}

.bg-red-100 {
  background-color: #ffe6e6;
}

.bg-red-200 {
  background-color: #ffcccc;
}

.bg-red-300 {
  background-color: #ffb3b3;
}

.bg-red-400 {
  background-color: #ff9999;
}

.bg-red-500 {
  background-color: #ff8080;
}

.bg-red-600 {
  background-color: #ff6666;
}

.bg-red-700 {
  background-color: #ff4d4d;
}

.bg-red-800 {
  background-color: #ff3333;
}

.bg-red-900 {
  background-color: #ff1a1a;
}

.bg-black-50 {
  background-color: #7c7c7c;
}

.bg-black-100 {
  background-color: #797979;
}

.bg-black-200 {
  background-color: #717171;
}

.bg-black-300 {
  background-color: dimgray;
}

.bg-black-400 {
  background-color: #606060;
}

.bg-black-500 {
  background-color: #555555;
}

.bg-black-600 {
  background-color: #494949;
}

.bg-black-700 {
  background-color: #3b3b3b;
}

.bg-black-800 {
  background-color: #2b2b2b;
}

.bg-black-900 {
  background-color: #171717;
}

.bg-blue-50 {
  background-color: #f2f2ff;
}

.bg-blue-100 {
  background-color: #e6e6ff;
}

.bg-blue-200 {
  background-color: #ccccff;
}

.bg-blue-300 {
  background-color: #b3b3ff;
}

.bg-blue-400 {
  background-color: #9999ff;
}

.bg-blue-500 {
  background-color: #8080ff;
}

.bg-blue-600 {
  background-color: #6666ff;
}

.bg-blue-700 {
  background-color: #4d4dff;
}

.bg-blue-800 {
  background-color: #3333ff;
}

.bg-blue-900 {
  background-color: #1a1aff;
}

.bg-green-50 {
  background-color: #a7a7a7;
}

.bg-green-100 {
  background-color: #a4a4a4;
}

.bg-green-200 {
  background-color: #9d9d9d;
}

.bg-green-300 {
  background-color: #959595;
}

.bg-green-400 {
  background-color: #8b8b8b;
}

.bg-green-500 {
  background-color: gray;
}

.bg-green-600 {
  background-color: #668066;
}

.bg-green-700 {
  background-color: #4d804d;
}

.bg-green-800 {
  background-color: #338033;
}

.bg-green-900 {
  background-color: #1a801a;
}

.bg-yellow-50 {
  background-color: #fffff2;
}

.bg-yellow-100 {
  background-color: #ffffe6;
}

.bg-yellow-200 {
  background-color: #ffffcc;
}

.bg-yellow-300 {
  background-color: #ffffb3;
}

.bg-yellow-400 {
  background-color: #ffff99;
}

.bg-yellow-500 {
  background-color: #ffff80;
}

.bg-yellow-600 {
  background-color: #ffff66;
}

.bg-yellow-700 {
  background-color: #ffff4d;
}

.bg-yellow-800 {
  background-color: #ffff33;
}

.bg-yellow-900 {
  background-color: #ffff1a;
}

.bg-purple-50 {
  background-color: #a7a7a7;
}

.bg-purple-100 {
  background-color: #a4a4a4;
}

.bg-purple-200 {
  background-color: #9d9d9d;
}

.bg-purple-300 {
  background-color: #959595;
}

.bg-purple-400 {
  background-color: #8b8b8b;
}

.bg-purple-500 {
  background-color: gray;
}

.bg-purple-600 {
  background-color: #806680;
}

.bg-purple-700 {
  background-color: #804d80;
}

.bg-purple-800 {
  background-color: #803380;
}

.bg-purple-900 {
  background-color: #801a80;
}

.bg-orange-50 {
  background-color: #fffbf2;
}

.bg-orange-100 {
  background-color: #fff6e6;
}

.bg-orange-200 {
  background-color: #ffedcc;
}

.bg-orange-300 {
  background-color: #ffe4b3;
}

.bg-orange-400 {
  background-color: #ffdb99;
}

.bg-orange-500 {
  background-color: #ffd280;
}

.bg-orange-600 {
  background-color: #ffc966;
}

.bg-orange-700 {
  background-color: #ffc04d;
}

.bg-orange-800 {
  background-color: #ffb733;
}

.bg-orange-900 {
  background-color: #ffae1a;
}

.bg-brown-50 {
  background-color: #bababa;
}

.bg-brown-100 {
  background-color: #b7b7b7;
}

.bg-brown-200 {
  background-color: #b1b1b1;
}

.bg-brown-300 {
  background-color: #aaaaaa;
}

.bg-brown-400 {
  background-color: #a59999;
}

.bg-brown-500 {
  background-color: #a58080;
}

.bg-brown-600 {
  background-color: #a56666;
}

.bg-brown-700 {
  background-color: #a54d4d;
}

.bg-brown-800 {
  background-color: #a53333;
}

.bg-brown-900 {
  background-color: #a51a1a;
}

.text-red-50 {
  color: #fff2f2;
}

.text-red-100 {
  color: #ffe6e6;
}

.text-red-200 {
  color: #ffcccc;
}

.text-red-300 {
  color: #ffb3b3;
}

.text-red-400 {
  color: #ff9999;
}

.text-red-500 {
  color: #ff8080;
}

.text-red-600 {
  color: #ff6666;
}

.text-red-700 {
  color: #ff4d4d;
}

.text-red-800 {
  color: #ff3333;
}

.text-red-900 {
  color: #ff1a1a;
}

.text-black-50 {
  color: #7c7c7c;
}

.text-black-100 {
  color: #797979;
}

.text-black-200 {
  color: #717171;
}

.text-black-300 {
  color: dimgray;
}

.text-black-400 {
  color: #606060;
}

.text-black-500 {
  color: #555555;
}

.text-black-600 {
  color: #494949;
}

.text-black-700 {
  color: #3b3b3b;
}

.text-black-800 {
  color: #2b2b2b;
}

.text-black-900 {
  color: #171717;
}

.text-blue-50 {
  color: #f2f2ff;
}

.text-blue-100 {
  color: #e6e6ff;
}

.text-blue-200 {
  color: #ccccff;
}

.text-blue-300 {
  color: #b3b3ff;
}

.text-blue-400 {
  color: #9999ff;
}

.text-blue-500 {
  color: #8080ff;
}

.text-blue-600 {
  color: #6666ff;
}

.text-blue-700 {
  color: #4d4dff;
}

.text-blue-800 {
  color: #3333ff;
}

.text-blue-900 {
  color: #1a1aff;
}

.text-green-50 {
  color: #a7a7a7;
}

.text-green-100 {
  color: #a4a4a4;
}

.text-green-200 {
  color: #9d9d9d;
}

.text-green-300 {
  color: #959595;
}

.text-green-400 {
  color: #8b8b8b;
}

.text-green-500 {
  color: gray;
}

.text-green-600 {
  color: #668066;
}

.text-green-700 {
  color: #4d804d;
}

.text-green-800 {
  color: #338033;
}

.text-green-900 {
  color: #1a801a;
}

.text-yellow-50 {
  color: #fffff2;
}

.text-yellow-100 {
  color: #ffffe6;
}

.text-yellow-200 {
  color: #ffffcc;
}

.text-yellow-300 {
  color: #ffffb3;
}

.text-yellow-400 {
  color: #ffff99;
}

.text-yellow-500 {
  color: #ffff80;
}

.text-yellow-600 {
  color: #ffff66;
}

.text-yellow-700 {
  color: #ffff4d;
}

.text-yellow-800 {
  color: #ffff33;
}

.text-yellow-900 {
  color: #ffff1a;
}

.text-purple-50 {
  color: #a7a7a7;
}

.text-purple-100 {
  color: #a4a4a4;
}

.text-purple-200 {
  color: #9d9d9d;
}

.text-purple-300 {
  color: #959595;
}

.text-purple-400 {
  color: #8b8b8b;
}

.text-purple-500 {
  color: gray;
}

.text-purple-600 {
  color: #806680;
}

.text-purple-700 {
  color: #804d80;
}

.text-purple-800 {
  color: #803380;
}

.text-purple-900 {
  color: #801a80;
}

.text-orange-50 {
  color: #fffbf2;
}

.text-orange-100 {
  color: #fff6e6;
}

.text-orange-200 {
  color: #ffedcc;
}

.text-orange-300 {
  color: #ffe4b3;
}

.text-orange-400 {
  color: #ffdb99;
}

.text-orange-500 {
  color: #ffd280;
}

.text-orange-600 {
  color: #ffc966;
}

.text-orange-700 {
  color: #ffc04d;
}

.text-orange-800 {
  color: #ffb733;
}

.text-orange-900 {
  color: #ffae1a;
}

.text-brown-50 {
  color: #bababa;
}

.text-brown-100 {
  color: #b7b7b7;
}

.text-brown-200 {
  color: #b1b1b1;
}

.text-brown-300 {
  color: #aaaaaa;
}

.text-brown-400 {
  color: #a59999;
}

.text-brown-500 {
  color: #a58080;
}

.text-brown-600 {
  color: #a56666;
}

.text-brown-700 {
  color: #a54d4d;
}

.text-brown-800 {
  color: #a53333;
}

.text-brown-900 {
  color: #a51a1a;
}/*# sourceMappingURL=style.css.map */