@mixin hover-effect($type: translate, $val: 10px) {
  //   &:hover {
  //     transform: translateY(-10px);
  //   }
  transition: all 300ms;
  &:hover {
    @if ($type== 'scale') {
      transform: scale($val);
    } @else if ($type== 'scaleX') {
      transform: scaleX($val);
    } @else if ($type== 'scaleY') {
      transform: scaleY($val);
    } @else if ($type== 'rotate') {
      transform: rotate($val);
    } @else if ($type== 'rotateX') {
      transform: rotateX($val);
    } @else if ($type== 'rotateY') {
      transform: rotateY($val);
    } @else if($type== 'skew') {
      transform: skew($val);
    } @else if($type== 'skewX') {
      transform: skewX($val);
    } @else if($type== 'skewY') {
      transform: skewY($val);
    } @else if($type== 'translate') {
      transform: translate($val);
    } @else if($type== 'translateX') {
      transform: translateX($val);
    } @else if($type== 'translateY') {
      transform: translateY($val);
    } @else {
      transform: translateY($val);
    }
  }
}

.box {
  height: 300px;
  width: 300px;
  border-radius: 12px;
  margin: 50px auto;
  background-color: tomato;

  @include hover-effect(
    $type: scale,
    $val: (
      0.5,
      2,
    )
  );
}
